In [1]:
import urllib.request
url = "https://en.wikipedia.org/wiki/Tala_(music)"

In [2]:
page = urllib.request.urlopen(url)

In [3]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(page,'html.parser')

In [4]:
soup = soup.find_all('table',class_='wikitable')[4]

In [5]:
from bs4 import NavigableString
names= []
angas = []
aksharas = []
category = []

for table in soup:
    if isinstance(table,NavigableString):
        continue

    rows = table.find_all('tr')
    for row in rows:
        cells = row.find_all('td')
        if len(cells)>1:
            name = cells[1]
            names.append(name.text.strip())
            anga = cells[2]
            angas.append(anga.text.strip())
            akshara = cells[3]
            aksharas.append(akshara.text.strip())
            category.append('72 Melakarta talas')

In [6]:
names.pop(0)
names

['Kanakaangi',
 'Rathnaangi',
 'Ganamurthi',
 'Vanaspathi',
 'Maanavathi',
 'Dhanarupi',
 'Senaavathi',
 'Hanumathodi',
 'Dhenuka',
 'Natakapriya',
 'Kokilapriya',
 'Rupaavathi',
 'Gayakapriya',
 'Vagula bharanam',
 'Maya malava goulam',
 'Chakravaham',
 'Suryakantham',
 'Haata kambari',
 'Jankaradh wani',
 'Nata bhairavi',
 'Keeravani',
 'Karahara priya',
 'Gowri manohari',
 'Varuna priya',
 'Maara ranjani',
 'Charukesi',
 'Sarasaangi',
 'Harikamboji',
 'Dheera sankara bharanam',
 'Nagaa nandhini',
 'Yagapriya',
 'Raga vardhini',
 'Gangeya bhushani',
 'Vaga dheeshwari',
 'Soolini',
 'Chala Naata',
 'Chalagam',
 'Jalaarnavam',
 'Jaalavarali',
 'Navaneetham',
 'Paavani',
 'Raghupriya',
 'Kavaambothi',
 'Bhavapriya',
 'Subha panthuvarali',
 'Shadvitha maargini',
 'Swarnaangi',
 'Divyamani',
 'Davalaambari',
 'Naama narayani',
 'Kaamavartha',
 'Raamapriya',
 'Gamanashrama',
 'Viswambari',
 'Syamalangi',
 'Shanmukha priya',
 'Simhendra madhyamam',
 'Hemaavathi',
 'Dharmavathi',
 'Neethimathi',
 'Kaanthamani',
 'Rishabhapriya',
 'Lathaangi',
 'Vachaspathi',
 'Mecha Kalyani',
 'Chithraambari',
 'Sucharithra',
 'Jyothi swarupini',
 'Dathuvardhani',
 'Naasikha bhushani',
 'Kosalam',
 'Rasikapriya']

In [7]:
angas.pop(0)
aksharas.pop(0)
category.pop(0)

'72 Melakarta talas'

In [8]:
import pandas as pd 
df= pd.DataFrame(names,columns=['Tala'])
df['Angas'] = angas
df['Aksharas'] = aksharas
df['Category'] = category
df.head(10)

,Tala,Angas,Aksharas,Category
0,Kanakaangi,"1 Anudhrutha, 1 Dhrutha, 1 Guru, 1 Laghu",15,72 Melakarta talas
1,Rathnaangi,"1 Guru, 1 Anudhrutha, 1 Laghu, 1 Dhrutha Sekar...",20,72 Melakarta talas
2,Ganamurthi,"1 Laghu, 2 Anudhruthas, 1 Laghu, 1 Dhrutha Sek...",22,72 Melakarta talas
3,Vanaspathi,"1 Laghu, 2 Anudhruthas, 1 Guru, 1 Anudhrutha, ...",22,72 Melakarta talas
4,Maanavathi,"1 Laghu, 1 Dhrutha Sekara Viraamam, 1 Anudhrut...",20,72 Melakarta talas
5,Dhanarupi,"1 Guru, 1 Anudhrutha, 1 Laghu, 1 Dhritha",15,72 Melakarta talas
6,Senaavathi,"1 Gurus, 1 Dhrutha Sekara Viraamam, 1 Dhrutha,...",25,72 Melakarta talas
7,Hanumathodi,"1 Guru, 2 Anudhruthas, 1 Laghu, 1 Dhrutha, 1 P...",34,72 Melakarta talas
8,Dhenuka,"1 Pluta, 2 Anudhruthas, 1 Dhrutha",16,72 Melakarta talas
9,Natakapriya,"3 Dhruthas, 1 Laghu, 1 Dhrutha",12,72 Melakarta talas

In [37]:
df.to_csv('talas.csv',mode='a',header=False)