In [1]:
import urllib.request
url = "https://en.wikipedia.org/wiki/List_of_Janya_ragas"

In [2]:
page = urllib.request.urlopen(url)

In [3]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(page, 'html.parser')
#print(soup.prettify())

In [4]:
soup =soup.find_all('table',class_='wikitable')

In [12]:
names = []
arohanas = []
avarohanas = []

for table in soup:
    rows = table.find_all('tr')
    for row in rows:
        cells = row.find_all('td')

        if len(cells)>1:
            name = cells[0]
            names.append(name.text.strip())
            arohana = cells[1]
            arohanas.append(arohana.text.strip())
            avarohana = cells[2]
            avarohanas.append(avarohana.text.strip())

In [13]:
import unicodedata
ragas = []
for name in names:
    raga = unicodedata.normalize('NFKD',name).encode('ascii','ignore').decode('utf-8')
    ragas.append(raga)
ragas[0]

'1 Kanakangi(Janaka raga)'

In [14]:
arohanas_clean = []
for i in arohanas:
    i = i.split('\xa0')
    i = ' '.join(i)
    i = unicodedata.normalize('NFKD',i).encode('ascii','ignore').decode('utf-8')
    arohanas_clean.append(i)

In [15]:
avarohanas_clean = []
for i in avarohanas:
    i = i.split('\xa0')
    i = ' '.join(i)
    i = unicodedata.normalize('NFKD',i).encode('ascii','ignore').decode('utf-8')
    avarohanas_clean.append(i)

In [16]:
import pandas as pd
df = pd.DataFrame(ragas,columns=['Raga'])
df['Arohanam'] = arohanas_clean
df['Avarohanam'] = avarohanas_clean
df.head(10)
#print(len(names))
#print(len(arohanas_clean))
#print(len(avarohanas_clean))

                       Raga                Arohanam            Avarohanam
0  1 Kanakangi(Janaka raga)    S R1 G1 M1 P D1 N1 S  S N1 D1 P M1 G1 R1 S
1               Kanakambari          S R1 M1 P D1 S  S N1 D1 P M1 G1 R1 S
2                Kanakatodi       S R1 G1 M1 P D1 S     S N1 D1 P M1 R1 S
3              Madhavapriya       S R1 G1 P D1 N1 S     S N1 D1 P G1 R1 S
4  Karnataka Shuddha Saveri          S R1 M1 P D1 S        S D1 P M1 R1 S
5              Latantapriya       S R1 G1 M1 P D1 S        S D1 P M1 R1 S
6                   Lavangi            S R1 M1 D1 S          S D1 M1 R1 S
7                     Megha  S R1 M1 P D1 N1 D1 P S     S N1 D1 P M1 R1 S
8            Rishabhavilasa          S R1 M1 P D1 S  S D1 P M1 R1 M1 R1 S
9                Sarvashree                S M1 P S              S P M1 S

In [17]:
df.to_csv('ragas.csv')